@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
  
body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right,,#007ae6, #006dcc);
  opacity: 1.5;

}

h2 {
 position: absolute;
 bottom: 60%;
 left: 15%;
 color: #000000;
 font-size: 25px;
 font-weight: 800;
 font-family: 'Raleway',sans-serif;
 padding: 10px;
}
p{
  position: absolute;
  left: 6%;
  bottom: 55%;
  color: #000000;
  font-size: 18px;
  font-family: 'Raleway',sans-serif;
  text-align: left;
}
.head{
  padding-bottom:20px;
  margin-bottom:50px;
}
#faq{
margin:20px;
padding:20px;
}
 img
{
  display:flex; 
  max-width: 230px;
  top:10%;
  left: 80%;
  float: left;
  margin: 400px auto;
  margin-bottom: 40px;
  opacity: 1.8;
  mix-blend-mode: multiply;
 
}
.wrapper {
  max-width:800px;
  width: 100%;
  top: 80%;
  left: 50%;
  background: #ffffff;
  margin: 200px auto;
  margin-right: 20px;
  background:#f8f8f8;
  border :none;
  box-sizing: border-box;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  padding: 25px;
}

.wrapper .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #00008B;
  text-transform: uppercase;
  text-align: center;
  font-family:"Raleway",sans-serif;

}



.wrapper .form{
  display: inline-block;
  grid-gap: 0%;
  width: 100%;
  height: 0px;
  margin: 20px auto;
  margin-bottom: 80px;
   
}
.wrapper .form .form-group {
  margin-bottom: 35px;
  padding: 10px;
  align-items: center;
  white-space: 0px;
  color: #000;
  font-family: 'Raleway',sans-serif;
  font-weight:100; 
}

.wrapper .form .form-group #name{
  display: inline-block;
  float: left;
  width: 300px;
  padding: 10px;
  border-color: #000;
 }
.wrapper .form .form-group #email{
  display: inline-block;
  float: right;
  width: 300px; 
  padding: 10px;
  margin-top: -7%;
  margin-right: -350px;
  border-color: #000;
}
.wrapper .form .form-group #phone{
  display: inline-block;
  float: left;
  width: 300px;
  height: 40px;
  margin-top: -6%;
  padding: 10px;
}
.wrapper .form .form-group #list{
  display: inline-block;
  float: right;
  width: 300px;
  margin-top:-4%;
  margin-right: -350px;
  margin-bottom: -2%;
  padding: 10px; 
  }
.wrapper .form .form-group #list2{
  display: inline-block;
  float: left;
  width: 300px;
  margin-top: -4%;
  padding: 5px;
}
.wrapper .form .form-group #list3{
  display: inline-block;
  float: right;
  width: 300px;
  margin-top: -4%;
  margin-right: -350px;
  padding: 5px;
}
.wrapper .form .form-group #channel{
  display: inline-block;
  float: left;
  width: 300px;
  margin-top: -4%;
  padding: 5px;
}
.wrapper .form .form-group #link{
  display: inline-block;
  float: right;
  width: 300px;
  margin-top: -4%;
  margin-right: -350px;
  padding: 5px;
}
.wrapper .form .form-group #file{
  display: inline-block;
  float: left;
  width: 300px;
  margin-top: -4%;
  
  padding: 5px;
}
.wrapper .form .form-group #video{
  display: inline-block;
  float: right;
  width: 300px;
  margin-top: -4%;
  margin-right: -400px;
  padding: 5px;
}
.wrapper .form .form-group label{
  font-size: 20px;
  font-family: "Raleway",sans-serif;
  margin-top: -6%;
  color: #808080;
  width: 300px;
  margin-top: -4%;
  padding: 5px;
}
.wrapper .form .form-group .col-sm-4 label{
  float: right;
  font-size: 20px;
  font-style: bold;
  font-family: "Raleway",sans-serif;
  margin-top: -15%;
  margin-right: -190px;

}

.wrapper .form  label{
  display: ;
  width: 100px;
  color: #000;
  margin-right: 10px;
  font : bold;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  font-weight:bolder;
  text-align: left;
}

.wrapper .form .formgroup ,
.wrapper .form .formgroup .textarea{
 border: 1px solid ;
  width: 100%;
  padding: 10px;
  color: #000;
  font-family: 'Raleway',sans-serif;

}
.wrapper .form .form-group #textar {
  float: right;
   width: 300px;
  margin-top: -15%;
  margin-right: -350px;
  padding: 5px;
}
.wrapper .form .form-group .textarea{

  width: 100%;
  padding: 10px;
  resize: none;
  font-family: 'Raleway',sans-serif;
  text-align: center;
}
.wrapper .form .form-group #list{
 
}
.wrapper .form .form-group .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
  color: 000;
}

.wrapper .form .form-group .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .form-group .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 3px;
}


.wrapper .form .form-group .input:focus,
.wrapper .form .form-group .textarea:focus,
.wrapper .form .form-group .custom_select select:focus{
  border: 1px solid #000;
}

.wrapper .form .form-group p{
   font-size: 14px;
   color: #000;
}

 .button{
  border: 0px;
  display: ;
  margin: 510px;
  margin-top: -20px;
  margin-right: 30px;
  padding: 10px 0;
  text-align: center;
  width: 100px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
}
 #first{
    background-color: white;
  }
  .hid{
    background-color:#f5f6fa;
  }

  ul, #myUL {
    list-style-type: none;
  }


  #myUL {
    margin: 0;
    padding: 0;
  }


  .caret {

    cursor: pointer;
    user-select: none; 
  }


  .nested {
    display: none;

  }
  .first{
    background-color: white;
  }
  .active1{
    background-color: red;
  }

  .active{
    display: block;
  }
  .ul1{
    font-size: 17px;
    color:#3b3bb1;
  }
  .ul2{
    font-size: 16px;
    color:#5c71a0e3;
    margin-left: -25px;


  }
  .ul22{
    background-color: grey
  }
  .fas{
    font-size: 16px;
  }


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1281px) {
  
h2{
   margin-top:300px;

 }
p{

  font-size:17px;
  font-weight: 500;
 }
img{
      
 } 
.wrapper{
  width:100%;
  border :none;
  box-sizing: border-box;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
 }
.wrapper .form .form-group{
  width: 100%;
  display: block;

 }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

 h2{
   top: 40%;
   text-align: center;
   height: auto;
   width: 10%;
 }
  .row p{
  top: 50%;
  font-size: 15px;
  text-align: center;
 }
 .row img{
 
  margin-bottom: 45px;

 }

.wrapper{
  width: 100%;
  bottom: 50%;
  margin:150px auto;
  border :none;
  box-sizing: border-box;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius:10% 50%;
} 

.wrapper .form .form-group{
 
  width: 100%;
  display: block;


}


 
}
@media (min-width: 768px) and (max-width: 1024px) {
  
 h2{
  bottom: 50%; 
  margin: 90px;
  text-align: center;
  font-size: 30px;
 font-weight: 900;

 }
  p{
  bottom: 52%;
  right: 10%;
  bottom: 25px auto;
  text-align: center;
  font-size: 15px;
  

 }
.row img{
   display: none;
 }
.wrapper{
  max-width: 420px;
  width: 100%;
  bottom: 50%;
  height: auto;
  margin:150px auto;
  box-sizing: border-box;
  border:none;
  border-top-left-radius: 0% 0%;
  border-bottom-left-radius: 0% 0%;
  box-shadow: 2px 2px 4px rgba(0,0,0,125);
  
} 

.wrapper .form .form-group{
 
  width: 100%;
  display: flex;

}

.wrapper .form .form-group col-md-6{
  width: 10%;
  margin: 50px auto;
  margin-top: -30px ;
  padding: 8px;
  column-span: 5px;
  box-sizing: border-box;
  grid-area: 0.5rem;
  grid-template-columns: 10fr 55fr ;
  grid-column-gap: 5px;
  grid-auto-rows:10px; 
  align-items: left;
}
.col-md-4 {
  max-width: 120px;
  width: 10%;
  height: 0px;
  margin: 110px;
  margin-left: -170px;
  margin-bottom: 5PX;
  display: grid;
  grid-template-columns: 10fr 45fr ;
  grid-gap: 1.5rem;
  grid-auto-rows:100px; 
  align-items: left;
}


.col-md-6 #file{
  margin: 100px;
}
.col-md-4 #textar{
  margin: 55px;
  margin-right: -120px;
}

.button{
  margin-left: 50px;
  align-items: center;
}



 }  



@media (min-width: 481px) and (max-width: 767px) {
  
   h2{
  top: 30%; 
  margin-top: 60px;
  margin-right: 10%;
  text-align: center;
 font-weight: 700;

 }
  p{
  top:25%;
  margin-top: 100px;
  text-align: center;
 font-size: 12px;
 font-weight: 800;

 }
.row img{
   display: none;
 }
.wrapper{
  max-width: 440px;
  width: 100%;
  bottom: 50%;
  height: auto;
  margin:150px auto;
  box-sizing: border-box;
  border:none;
  border-top-left-radius: 0% 0%;
  border-bottom-left-radius: 0% 0%;
  box-shadow: 2px 2px 4px rgba(0,0,0,125);
  padding: 25px;
} 

.wrapper .form .form-group{
 
  width: 100%;
  display: flex;


}

.wrapper .form .form-group col-md-6{
  width: 10%;
  display: grid;
  margin: 50px auto;
  margin-top: -30px ;
  padding: 8px;
  column-span: 5px;
  box-sizing: border-box;
  grid-area: 0.5rem;
  grid-template-columns: 10fr 55fr ;
  grid-column-gap: 5px;
  grid-auto-rows:10px; 
  align-items: left;
}
.col-md-4 {
  max-width: 120px;
  width: 10%;
  height: 0px;
  margin: 110px;
  margin-left: -380px;
  margin-bottom: 5PX;
  display: grid;
  grid-template-columns: 10fr 45fr ;
  grid-gap: 1.5rem;
  grid-auto-rows:100px; 
  align-items: left;
}

.col-md-6 #file{
  margin: 100px;
}
.col-md-4 #textar{
  margin: 50px;
}

.button{
  margin-left: 50px;
  align-items: center;
}


}
 
@media screen and (min-width: 10px) and (max-width: 480px){
 h2{
  top: 30%; 
  margin-top: 60px;
  margin-right: 10%;
  text-align: center;
 font-weight: 700;

 }
  p{
  top:25%;
  margin-top: 100px;
  text-align: center;
 font-size: 12px;
 font-weight: 800;

 }
.row img{
   display: none;
 }
.wrapper{
  max-width: 440px;
  width: 100%;
  bottom: 50%;
  height: auto;
  margin:150px auto;
  box-sizing: border-box;
  border:none;
  border-top-left-radius: 0% 0%;
  border-bottom-left-radius: 0% 0%;
  box-shadow: 2px 2px 4px rgba(0,0,0,125);
  padding: 25px;
} 

.wrapper .form .form-group{
 
  width: 100%;
  display: flex;


}

.wrapper .form .form-group col-md-6{
  width: 10%;
  display: grid;
  margin: 50px auto;
  margin-top: -30px ;
  padding: 8px;
  column-span: 5px;
  box-sizing: border-box;
  grid-area: 0.5rem;
  grid-template-columns: 10fr 55fr ;
  grid-column-gap: 5px;
  grid-auto-rows:10px; 
  align-items: left;
}
.col-md-4 {
  max-width: 120px;
  width: 10%;
  height: 0px;
  margin: 110px;
  margin-left: -380px;
  margin-bottom: 5PX;
  display: grid;
  grid-template-columns: 10fr 45fr ;
  grid-gap: 1.5rem;
  grid-auto-rows:100px; 
  align-items: left;
}

.col-md-6 #file{
  margin: 100px;
}
.col-md-4 #textar{
  margin: 50px;
}

.button{
  margin-left: 50px;
  align-items: center;
}


}
